includes:
	- vendor/phpstan/phpstan/conf/config.level1.neon
parameters:
	bootstrap: %currentWorkingDirectory%/tests/phpstan/bootstrap.php
	excludes_analyse:
	    -  %currentWorkingDirectory%/application/templates
	    -  %currentWorkingDirectory%/dvelum/templates
	    -  %currentWorkingDirectory%/vendor
	    -  %currentWorkingDirectory%/dvelum/library/Cache/Memcached.php
	    -  %currentWorkingDirectory%/dvelum2/Dvelum/Cache/Memcached.php
	autoload_directories:
	    -  %currentWorkingDirectory%/application
	    -  %currentWorkingDirectory%/dvelum
	    -  %currentWorkingDirectory%/dvelum2
	    -  %currentWorkingDirectory%/tests/unit/dvelum/app
	    -  %currentWorkingDirectory%/tests/unit/dvelum/library
	    -  %currentWorkingDirectory%/tests/unit/dvelum2
	autoload_files: []
	polluteCatchScopeWithTryAssignments: true
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Function pinba_[a-zA-Z0-9\\_]#'
		- '#Function finfo_[a-zA-Z0-9\\_]#'
		- '#Function ldap_[a-zA-Z0-9\\_]#'
