.menu-item-wrap{
    float:left;
    width: 120px;
    height:120px;
    border:1px solid #ccc;
    padding: 15px 5px 15px 5px;
    margin:5px;
    cursor:pointer;
    border-radius: 4px;
    background-color: #FFF;
    text-align: center;
}

.menu-item-wrap img{
    padding: 0 0 5px 0;
}

.menu-item-over{
    border-color:transparent;
    box-shadow:0 0 8px 2px #ccc;
    transition:box-shadow 0.6s ease 0s, border-color 0.6s ease 0s;
}

.menu-item-icon{
    background-size: 16px 16px;
}

body{
    background-color: #F0F0F0;
}

.formBody{
    background-color: #F0F0F0;
}

.x-toolbar{
    background-color: #F0F0F0;
}