body, html{background:none !important;background-color: #ffffff !important;padding:5px;}

p{  margin: 0px 0px 20px 0px;  }
ul, ol{  margin: 10px 0px 10px 10px;  transform: translateX(1.5em);}
h1{font-size: 22px;  font-weight: bold;margin: 0px 5px 10px 0px}
h2{font-size: 18px;  font-weight: bold;margin: 15px 5px 15px 0px}
h3{font-size: 16px;  font-weight: bold;margin: 10px 5px 10px 0px}