html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; }
*, * focus {
	outline: none;
	margin: 0;
	padding: 0;
}
textarea { overflow: auto; }
textarea, input[type=text], input[type=password] { font-family: Arial, Helvetica, sans-serif; font-size: 11px; }
button, input[type=submit] { font-family: Arial, Helvetica, sans-serif; }

img { border: 0; }
ul { list-style: none; margin: 0; padding: 0; }
p { margin: 0; padding: 0; }
:focus { outline: 0; }
a { text-decoration: none; color: #2b6893; }
.normal { font-style: normal; }
.normalFont { font-style: normal; font-weight: normal; }

.nomargin { margin: 0!important; }

input::-moz-focus-inner 
{ 
    border: 0;
    padding: 0;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0
}
a.button::-moz-focus-inner 
{ 
    border: 0;
    padding: 0;
}
html { height: 100%; background: transparent url(../../../../i/bg.gray.png) 0 0 repeat; }
.html { height: 100%;  }
body { min-height: 100%; font-size: 12px; color: #595959; font-family: Arial, Helvetica, sans-serif; line-height: 20px; position: relative; }
.wrapper { position: relative; margin: 0 3%; }
.contentWrapper { position: relative; margin: 0 3%; float: right; width: 94%; }

h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

.greyBack { padding: 4px 6px; -webkit-border-radius : 2px; -moz-border-radius: 2px; color: #fafafa; }
.greyBack { background: #6a6a6a; }
p { padding-top: 12px; }

.textL { text-align: left; }
.textR { text-align: right; }
.textC { text-align: center; }
.lGrey { color: #808080; }

.legendLabel span { display: block; margin: 0 5px; }
.legendColorBox { padding-left: 10px; }
.clear { clear: both; }
.last { border-bottom: none!important; }
.floatR { float: right; }
.floatL { float: left; }
.nobg { background: none!important; }
.nomargin { margin: 0; }
.nomarginL { margin-left: 0!important; }
.nomarginR { margin-right: 0!important; }
.np { padding: 0!important; }
.sideMargin { margin: 0 12px; }
.scroll { height: 182px; overflow: auto; }
select[multiple] { border: 1px solid #ddd; box-shadow: 0 0 0 2px #f4f4f4; -webkit-box-shadow: 0 0 0 2px #f4f4f4; -moz-box-shadow: 0 0 0 2px #f4f4f4; color: #656565; background: white; }
::-webkit-input-placeholder { color: #b3b3b3; }
:-moz-placeholder { color: #b3b3b3; }
.leftList  { float: left; max-width: 50%; }
.rightList { float: right; max-width: 50%; }
.rightList li { text-align: right; }

.widget { background: #f9f9f9; border: 1px solid #cdcdcd; margin-top: 32px; clear: both; box-shadow: 0 0 3px #A6D9F4; -moz-box-shadow:0 0 3px #A6D9F4; -webkit-box-shadow:0 0 3px #A6D9F4;}
.widget .title { height: 36px; background: #efefef; border-bottom: 1px solid #cdcdcd; }
.widget .title .titleIcon { float: left; padding: 11px 11px; border-right: 1px solid #D5D5D5; }
.widget .loader { float: right; margin: 12px 12px 0 0; }
.widget .title h6 { float: left; font-size: 12px; font-weight: bold; padding: 9px 12px 8px 12px; } 
.widget .content { padding: 14px; } 
.widget .body { padding: 12px 14px; }
.widget > p { padding: 12px; }
.dv_button {
	background-color:#3c9220;	
	font-size:11px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:6px 20px;
	border-left:solid 1px #7f8e69;
	background-image: linear-gradient(bottom, #3c9220 0%, #67bd44 100%);
	background-image: -o-linear-gradient(bottom, #3c9220 0%, #67bd44 100%);
	background-image: -moz-linear-gradient(bottom, #3c9220 0%, #67bd44 100%);
	background-image: -webkit-linear-gradient(bottom, #3c9220 0%, #67bd44 100%);
	background-image: -ms-linear-gradient(bottom, #3c9220 0%, #67bd44 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #3c9220),
	color-stop(1, #67bd44)
	); 
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow: inset 0 1px 0 #295D17, 0 4px 0 0 #235613, 0 3px 2px #000000;
	-moz-box-shadow: inset 0 1px 0 #295D17, 0 4px 0 0 #235613, 0 3px 2px #000000;
	-o-box-shadow: inset 0 1px 0 #295D17, 0 4px 0 0 #235613, 0 3px 2px #000000;
	box-shadow: inset 0 1px 0 #295D17, 0 4px 0 0 #235613, 0 3px 2px #000000;
}

.dv_button:active {
	top:3px;
	background-image: linear-gradient(bottom, #6dc449 0%, #67bd44 100%);
	background-image: -o-linear-gradient(bottom, #6dc449 0%, #67bd44 100%);
	background-image: -moz-linear-gradient(bottom, #6dc449 0%, #67bd44 100%);
	background-image: -webkit-linear-gradient(bottom, #6dc449 0%, #67bd44 100%);
	background-image: -ms-linear-gradient(bottom, #6dc449 0%, #67bd44 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #6dc449),
	color-stop(1, #67bd44)
	);
	-webkit-box-shadow: inset 0px 1px 0px #295d17, 0px 0px 0px 0px #235613, 0px 0px 1px #000;
	-moz-box-shadow: inset 0px 1px 0px #295d17, 0px 0px 0px 0px #235613, 0px 0px 1px #000;
	-o-box-shadow: inset 0px 1px 0px #295d17, 0px 0px 0px 0px #235613, 0px 0px 1px #000;
	box-shadow: inset 0px 1px 0px #295d17, 0px 0px 0px 0px #235613, 0px 0px 1px #000;
}
.button, button, input[type=submit], input[type=reset], input[type=button] { font-weight: bold; text-transform: uppercase; white-space: nowrap; cursor: pointer; font-family: Arial, Helvetica, sans-serif; line-height: 12px; display: inline-block; max-height: 29px; }

input[type=submit], input[type=reset], input[type=button], button { padding: 7px 18px 8px 18px; }

.formSubmit { display: block; float: right; margin: 14px 18px; }

.button span { padding: 7px 18px 8px 18px; display: inline-block; height: 12px; }
.button .icon { float: left; margin: 7px -8px 5px 12px; }

.loginPage .userNav { margin-right: 0!important; }
.loginPage .topNav { text-align: center; position: static; }
.loginPage .userNav, .loginPage .userNav ul { float: none; border: none; }
.loginPage .userNav ul li { display: inline-block; float: none; margin-left: -4px; }
.loginPage input[type=text], .loginPage input[type=password] { width: 100%!important }
.loginPage #footer .wrapper { padding-left: 0; }
.loginPage .formRow { padding: 18px 14px; }

.loginWrapper { margin: -119px 0 0 -170px; position: absolute; top: 50%; left: 50%; }
.loginWrapper .widget { width: 340px; background: #f9f9f9; border: 1px solid #cdcdcd; display: block; height: 236px; }
.loginLogo {
	display: block;
    height: 109px;
    left: 50%;
    margin-left: -144px;
    position: absolute;
    top: -80px;
    width: 286px;
} 
.loginControl { border-top: 1px solid #fff; padding: 16px 14px; }
.logMeIn { float: right; border: none; font-size: 11px;}
.loginInput { width: 190px; float: right; margin-right: 14px!important; }


.fixed { box-shadow: inset 0 0 1px #748a9b; -moz-box-shadow: inset 0 0 1px #748a9b; -webkit-box-shadow: inset 0 0 1px #748a9b; }

.middleNav, .widget, .sItem, .statsDetailed, .statsContent, .nav li a strong, .controlB ul li, .toggle, .smalldd ul li a strong
{ -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }

.wButton, .nNote, .widget .num a, .tag, a.sButton, .tooltip, .tPagination ul li a, .bc, .pages li a, .smallButton, .search-choice, .horControlB ul li, .gallery ul li, .iconsGroup, .wContentButton
{ -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; }

.formRow { padding: 22px 14px; clear: both; border-bottom: 1px solid #E2E2E2; border-top: 1px solid white; position: relative; }
.formRow:first-child { border-top: none; }
.formRow:last-child { border-bottom: none; }
.formRow .formRight { display: block; float: right; width: 80%; margin-right: 18px; }

.form input[type=text], .form input[type=password], .form textarea { font-size: 11px; padding: 7px 6px; background: white; border: 1px solid #DDD; width: 100%; font-family: Arial, Helvetica, sans-serif; box-shadow: 0 0 0 2px #f4f4f4; -webkit-box-shadow: 0 0 0 2px #f4f4f4; -moz-box-shadow: 0 0 0 2px #f4f4f4; color: #656565; } 
.form input[type=text]:hover, .form input[type=password]:hover, .form textarea:hover { border-color: #d5d9dc; background: #fdfdfd; }
.form input[type=text]:focus, .form input[type=password]:focus, .form textarea:focus { border-color: #d5d9dc; background: #fff; -webkit-box-shadow: 0 0 0 2px #f4f4f4; box-shadow: 0 0 0 2px #f4f4f4; -moz-box-shadow: 0 0 0 2px #f4f4f4; }
input[readonly], input[disabled] { background: #FCFCFC; border: 1px solid #DADADA; color: #D1D1D1; }

#footer { clear: both; position: absolute; bottom: 0; left: 0; width: 100%;  }
#footer .wrapper { text-align: center; padding: 20px 0 20px 222px; margin: 0; color: #333; font-size: 10px;}

/* System page
-------------------------------------*/
.systemPage {
	height: 100%; background: transparent url(../../../../i/bg.gray.png) 0 0 repeat; 
}
.bgImage {background:url('../../../../i/system/notice.image2.png') center bottom no-repeat; width: 100%; height: 570px; position: relative; bottom: -4px;}
#pageBottom { clear: both; position: absolute; bottom: 0; left: 0; width: 100%;  }
#pageBottom .wrapper {  padding: 20px; margin: 0; color: #333; font-size: 20px;}

/* Font style
------------------------------------------------*/
.text3D h1 {
	color: #CCCCCC;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 60px;
    text-shadow: 0 -1px 1px #999999;
	position: relative;
	margin-left: 15%;
	padding: 17px 0 0 350px;
	line-height: 40px;
}

.text3D p {
	color: #CCCCCC;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 40px;
    text-shadow: 0 -1px 1px #999999;
	position: relative;
	margin-left: 15%;
	padding: 5px 0 0 350px;
	line-height: 40px;
}

.text3D span {
	margin-left: 15%;
	position: relative;
	float: left;
	font-family: Arial;
	font-weight: bold;
	color: #6AC76A;
	font-size: 80px;
	line-height: 40px;
	text-shadow: 0px 1px 0px #7BE07B, 0px 2px 0px #75D175, 0px 3px 0px #6DC46D, 0px 4px 0px #66B766, 0px 5px 0px #5EA85E, 0px 6px 0px #4F934F, 0px 7px 0px #468246, 0px 8px 7px #366036;
}