html,body{  background-color:#E6E6E6;  font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;  margin: 0;  padding: 0;  height: 100%;  }
body{  display: -webkit-flex;  display: flex;  -webkit-flex-direction:column;  flex-direction: column;  }
h1{font-size: 22px;  font-weight: bold;}
.page{  max-width: 1280px;  min-width: 300px;  margin: auto;  padding-top:44px;  flex: 1 0 auto;  width: 100%;  }
.layout{  background-color: #fff;  padding: 10px 0px 10px 0px;  width: 100%;  height:100%;  align-items: stretch;  display: -webkit-flex;  display: flex;  -webkit-flex-direction:row;  flex-direction: row;  }
.content-wrap{  padding: 0px 10px 10px 10px;  margin-bottom: 10px;  min-width: 320px;  }
.content-wrap .content{width:100%;  height:100%; }

.header_wrap{ width:100%;  z-index: 9999999;  background: url(../../../i/page.black.bg.jpg) 0 0 repeat;  box-shadow:0 0 4px 2px #000;  overflow:hidden;  position: fixed;  left: 0;  top: 0;  padding:0;  height:40px;  text-align: center;  display: table-header-group;  }
.header{width:100%;  text-align: left;  display: inline-block;  max-width: 1280px;  min-width: 300px;}

/* Top navigation */
.nav.top li{list-style: none; line-height: 20px; float: left; padding: 0 0 0 10px;}
.nav.top li a {color: #fff; text-decoration: none; line-height: 50px; font-weight: bold; white-space: nowrap;}
.nav.top li a.active{color:#3b93c0;}


/* Sidebar */
.sidebar{width:320px;  min-width: 320px;}

.sep{height:1px;  border-bottom: 1px solid #ccc;  margin:4px 0px 4px 0px;}
.clear{height:1px; margin:0; overflow:hidden; clear:both; padding:0;}

/* Footer */
.footer{  flex: 0 0 auto;  max-width: 1280px;  min-width: 300px; width:100%; margin: auto; background: url(../../../i/page.black.bg.jpg) 0 0 repeat;color:#fff;}
.footer .blocks{padding:20px;}
.footer .copyright{  text-align: center;  font-size: 12px;  clear: both;  padding: 10px;}
.footer .menu{text-align: center;  width: 100%;}
.footer .menu .section{  min-width: 200px;  float: left;  text-align: left;}
.footer .menu ul{margin: 0;  padding: 0;  text-align: left;}
.footer .menu li{list-style: none;  float:left;  width: 100%;}
.footer .menu  a{list-style: none;  width: 100%;  color:#fff;  text-decoration: none;}
.footer .menu  a.active{list-style: none;  width: 100%;  text-decoration: none;  color:#3b93c0;}
.footer .menu li .header{font-weight: bold;}

/* Page navigation */
.pager{margin:15px 0;clear:both;}
.pager a{text-decoration:none;}
.pager .pager_item, .pager .pager_item_selected{display:inline;background:#333;color:#fff;padding:3px 8px;margin:0 4px;vertical-align:middle;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 2px #999;-moz-box-shadow:0 0 2px #999;box-shadow:0 0 2px #999;}
.pager .pager_item:hover{-webkit-box-shadow:0 0 4px #3484B4;-moz-box-shadow:0 0 4px #3484B4;box-shadow:0 0 4px #3484B4;color:#3484B4;opacity:0.8;}
.pager .pager_item_selected{background:none;border:1px solid #333;color:#333;}
.pager{text-align:center;}

#scrollUp{float:right;padding:0px 2px 2px 2px;background:#fff;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;margin-top:10px;margin-right:2px;display:none;cursor:pointer;color:#000;text-shadow:0 0 1px #000;font-size:19px;line-height:19px;width:20px;z-index:10000;border:1px solid #000;text-align:center;vertical-align:middle;}
#scrollUp:hover{background-color:#ffffff;background-image:linear-gradient(#fff , #B6F1FF);-webkit-box-shadow:0 0 2px #ccc;-moz-box-shadow:0 0 2px #ccc;box-shadow:0 0 2px #ccc;}

#mobileMenuBtn{float:right;  padding:0px 2px 2px 2px;  background:#fff;  border-radius:4px;  -webkit-border-radius:4px;  -moz-border-radius:4px;  margin-top:10px;  margin-right:4px;  display:none;  cursor:pointer;  width:20px;  height:19px;  z-index:10000;  border:1px solid #000;  display:none;  background-position: center;  background-image: url('../../../i/menu.png');  background-repeat: no-repeat;  }
#mobileMenuBtn:hover{  background-image: url('../../../i/menu.png'),linear-gradient(#fff , #B6F1FF);  -webkit-box-shadow:0 0 2px #ccc;  -moz-box-shadow:0 0 2px #ccc;  box-shadow:0 0 2px #ccc;  }

/* Blocks */
.blockItem{padding:5px;}
.blockItem .blockContent{padding:5px;}
.blockContent ul, .blockContent ol{padding-left:15px;}
.blockItem .blockTitle{  font-size: 16px;  font-weight: bold;  height:24px;  padding: 0px 5px 0px 5px;  border-bottom: 1px solid #ccc;}


@media screen and (max-width:386px){
    #topBlocks{
        display:none;
    }
    .header_wrap {
        position: fixed;
        top:0px;
        left:0px;
        width:100%;
        overflow: visible;
    }
    .header ul{
        background: #0a001f;
        width:100%;
        float:left;
        padding:10px;
    }
    .nav.top li{
        line-height: 16px;
        height: 30px;
        float: none;
    }
    #mobileMenuBtn{display:block; }
}