body{
    background-color:#E6E6E6;
    font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    text-rendering: optimizelegibility;
}

.page_wrap{
    width:100%;
    text-align: center;
    height:100%;

}

.page{
    width:100%;
    max-width: 1280px;
    min-width: 300px;
    text-align: left;
    display: inline-block;
    background-color: #fff;
    min-height: calc(100vh - 250px);

}

.layout-wrap{
    height:100%;
    padding-top: 60px;
    width: 100%;
    display: inline-block;
}

.content-wrap{
    min-width: 200px;
    max-width: 940px;
}

.content-wrap .content{
    width:100%;
    min-width: 300px;
    padding:0px 15px 20px 15px;
    background-color: #00a8c6;
}

.content-wrap.left{
    margin-left:340px;
}

.content-wrap.right{
    margin-right:370px;
}


.header_wrap{
    width:100%;
    z-index: 9999999;
    background: url(../../../i/page.black.bg.jpg) 0 0 repeat;
    box-shadow:0 0 4px 2px #000;
    overflow:hidden;
    position: fixed;
    left: 0;
    top: 0;
    padding:0;
    height:40px;
    text-align: center;
}

.header{
    width:100%;
    text-align: left;
    display: inline-block;
    max-width: 1280px;
    min-width: 300px;
}

/* Top navigation */
.nav.top li{list-style: none; line-height: 20px; float: left; padding: 0 0 0 10px;}
.nav.top li a {color: #fff; text-decoration: none; line-height: 50px; font-weight: bold; white-space: nowrap;}
.nav.top li a.active{color:#3b93c0;}



/* Sidebar */
.sidebar{
    width:320px;
    min-width: 320px;
    padding:5px;
    min-height: calc(100vh - 250px);
    height:100%;
}

.sidebar.left{
    border-right: 1px solid #ccc9c3;
    float: left;
}

.sidebar.right{
    border-left: 1px solid #ccc9c3;
    float: right;
}


.sep{
    height:1px;
    border-bottom: 1px solid #ccc;
    margin:4px 0px 4px 0px;
}




/* Footer  */
.footer{
    clear: both;
    position: relative;
    height: 140px;
    padding:20px;
    background: url(../../../i/page.black.bg.jpg) 0 0 repeat;
    color:#fff;
}

.footer .copyright{
    text-align: center;
    font-size: 12px;
    clear: both;
    padding: 10px;
}

.footer .menu{
    text-align: center;
    width: 100%;
}

.footer .menu .section{
    min-width: 200px;
    float: left;
    text-align: left;
}

.footer .menu ul{
    margin: 0;
    padding: 0;
    text-align: left;
}
.footer .menu li{
    list-style: none;
    float:left;
    width: 100%;
}
.footer .menu  a{
    list-style: none;
    width: 100%;
    color:#fff;
    text-decoration: none;
}

.footer .menu  a.active{
    list-style: none;
    width: 100%;
    color:#fff;
    text-decoration: none;
    color:#3b93c0;
}

.footer .menu li .header{
    font-weight: bold;
}





/* Blocks */

.blockItem{
    background-color:#E6E6E6 ;
    padding:5px;
}

.blockItem .blockContent{
    padding:5px;
    background-color: #fff;
}

.blockItem .blockTitle{

}


@media screen and (max-width:920px){

}

@media screen and (max-width:620px){

}
