
/*--------------------------
ROOT
---------------------------*/
ul, ol{margin:0 0 1.5em 20px; line-height:1.5em}
ul ul, ol ol, ul ol, ol ul{margin:0 0 0 20px}
dl{margin-bottom:1.5em}
dt{font-weight:bold}
dt:after{content:":"}
dt::after{content:":"}
dd{margin-left:60px}
q, i, em, cite{font-style:italic; font-weight:inherit}
b, strong{font-weight:bold; font-style:inherit}
mark{background:#ffc}
s, del{text-decoration:line-through}
small{font-size:0.75em; line-height:1}
abbr, acronym{font-style:italic; cursor:pointer; color:#777; cursor:help;}
pre, code{font-family:monospace; font-size:1.1em}
pre{overflow:auto; margin-bottom:1.5em; line-height:20px; /* Having to define explicit pixel values:( */}
code{line-height:1}
blockquote{text-indent:-0.4em; margin-left:0.4em; font-family:Georgia,"Times New Roman",Times,serif; font-style:italic;}
blockquote p{line-height:1.5; color:#5c5c5c;}
blockquote b, blockquote .source{margin-top:20px; display:block; text-indent:0; color:#888}
p{margin-bottom:1.5em; color:#5a5a5a;}
pre, p, ul, ol{	margin-bottom:20px; }
figcaption{ color:#ccc9c3; font-size:12px; text-align:center; }
body{ background: #fff url(../../../../templates/public/main/images/page.white.bg.jpg) 0 0 repeat;  padding:0; font-family: Arial;font-size:100%!important;}
a {color: #3484B4;}
/*--------------------------
PAGE_WRAP
---------------------------*/
#page{ float:left; width:100%; margin-bottom: 20px;}
#page header{ float:left; width:100%; z-index: 9999999; box-shadow: 0px 5px 8px #000; -moz-box-shadow:0px 5px 8px #000; -webkit-box-shadow:0px 5px 8px #000;}

.block_wrap {width: 100%; float: left;}
.block_wrap .flexslider,
#container .block_wrap .bottom,
.block_wrap footer {margin: 0 auto;  max-width: 60em; float: none;}

.fs_wrap {padding-top: 80px; width: 100%;}
.feature_wrap { width: 100%; }

#header{
    position: fixed;
    z-index:100;
    left: 0;
    top: 0;
    width:100%;
    overflow:hidden;
    padding:0;
    background: url(../../../../templates/public/main/images/page.black.bg.jpg) 0 0 repeat;
}
#header .nav .first {float: none;}

.nav.topmenu,
.nav.bottommenu {text-align:center;}
.nav.topmenu ul,
.nav.bottommenu ul { float: left; margin: 0;}
.nav.topmenu li,
.nav.bottommenu li {
    display:inline-block;
    margin:0 7px;
}
.nav.topmenu li a {color: #fff; text-decoration: none; line-height: 50px; font-weight: bold;}
.nav.bottommenu li a {color: #000; text-decoration: none; line-height: 20px; font-size: 0.9em; font-weight: bold;}
.nav.bottommenu {border-bottom: 2px solid #000; margin-bottom: 14px;}

.center {
    max-width:960px;
    width:100%;
    margin:0 auto;
}

header nav{ float:right; width:100%; }
footer nav{ float:right; width:100%; }

#featured{ border:1px solid red; width:100%; float:left; padding-bottom:40px;}

#container{ float:left; width:100%;}
#fullwidth{ width:100%; float:left; margin-bottom:0; padding:0;}

.top-offset {margin-top: 20px;}
.elements{ width:100%; float:left; padding-bottom:40px;}
.elements .bl {color: #333;}
.elements h1,h2,h3,h4,h5,h6{ padding-bottom:20px; color:#333; text-transform: uppercase; font-weight: bold;}
.elements h1{ font-size:38px;}
.elements h2{ font-size:32px;}
.elements h3{ font-size:24px;}
.elements h4{ font-size:16px;}
.elements h5{ font-size:14px;}
.elements h6{ font-size:12px;}
.elements .first{ float:left; width:18%; margin-left:2.5%;}
.elements .second{ float:left; width:23%; margin-left:2.5%;}
.elements .img-left img{ float:left; margin:3px 20px 7px 0; max-width:100%;}
.elements .img-right img{ float:right; margin:3px 0 7px 20px; max-width:100%;}
.elements .sec{ margin-left:0;}

.table tr th{ color:#535252; padding:10px; text-align:center; }
.table tr td{ color:#d1d1d1; padding:10px; text-align:center; }
/*
table { margin-bottom:1.4em; width:100%; -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, .2); -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, .2); }
th { font-weight:bold; font-size:13px; background:#d1d1d1; border-left:1px solid #c9c8c8; border-right:1px solid #c9c8c8; border-bottom:1px solid #c9c8c8; }
th, td, caption { padding:4px 10px 4px 5px; }
td{ font-size:12px; } 
th, td, caption { padding:4px 10px 4px 5px; }
*/

.features-2,
.layout-wrap{ margin-bottom:20px; float:right; width:48.4%; background: #fff;
    -webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
    -webkit-box-shadow: 0px 0px 4px 0px #000;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px #000;
}

.layout-wrap{ margin: 70px 0 20px; float:left; width:100%;}
.content-wrap {float: left; width: 100%;}

#container #content {padding: 10px 240px 0 12px; float: none;}
#container #sidebar {width: 220px;  margin:6px 0 40px -240px; float: left;}
#container #content.fullwidth {padding: 12px;}
#container .content-col-2{float: left; width: 50%;}
#container .content-col-2 .blockItem {padding: 10px;}
footer{ float:left; width:100%;  padding:50px 0 40px 0;}
footer .copyright {margin-top: 10px; display: block; width: 100%; clear: both;  height: 28px; line-height: 28px; text-align: center; font-size: 11px;}
footer h4{ font-size:14px; text-transform:uppercase; margin-bottom:10px;}
footer p{ font-size:12px; line-height:20px; color:#d1d1d1;}
footer .first{ width:35%; float:left; margin-left:4%; }
footer .first ul{ margin:0;}
footer .first ul li{ list-style:none; font-size:14px; line-height: 15px;}
footer .first ul li a{color:#333; text-decoration:none; display:block;  padding: 6px 0;}
footer .first ul li a:hover{ color:#3484b4;}
.nav.topmenu li.active  a,
.nav.bottommenu li.active a,
footer .first ul li.active a { color:#3B93C0; }

div .menuNode div a{
	text-decoration: none;
	color:#000000;
}
div .menuNode div.active a {
	color:#3B93C0; 
}

/*
 * Comments
 */
.comment{
	padding:5px;
	padding-left:15px;
	padding-right:0px;
}

.commentAvatar{
	width:50px;
	height:50px;
	margin-right:8px;
}

.commentUser{
	font-size:12px;
	color:#000000;
	font-weight:bold;
}
.commentTime{
	font-size:11px;
	color:#009A00;
	font-weight: normal;
}

.commentText{
	font-size:11px;
	color:#797979;
}

.commentBody{
	border:1px solid #cccccc;
	height:50px;
	overflow:visible;
}
.commentHidden{
	background-color:#cccccc;
	color:#000000;
	height:30px;
	font-size:12px;
	padding:5px;
}

/*
 * Votes
 */
.votePanel{
	padding:4px;
	margin:4px;
}
.topMenu{
	width:40%;
	text-align: center;
}

.first{
	float:right;
	margin:4px;
}

.first a, a:visited {
	color:#000000;
	text-decoration: none;
}

.first a:hover {
	color:#000000;
	text-decoration: underline;
}
.menuNode{
	margin-left:12px;
}
/*
 * Blocks
 */
.blockItem{
	padding:2px;
	font-size: 14px;
}
.blockTitle{
	font-size:16px;
	font-weight:bold;
	color:#000000;
	padding:2px;
	border:1px solid #cccccc;
}
.blockContent{
	padding:2px;
}

.blockContent a, a:visited{
	color:#3484B4;
	font-size:14px;
}
.blockContent a:hover{
	color:#3484B4;
	text-decoration: none;
	font-size:14px;
}
.sep{
	clear:both;
	height:5px;
}
#mycarousel {margin-left: 8px;}
.blockItem .blockTitle,  .commentBody
{
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	border-radius: 4px;
}

.blockItem .blockTitle {
	padding: 4px;
	background: url('../../../../templates/public/main/images/page.black.bg.jpg') 0 0 repeat;
	color:#fff;
}
.article_topic {margin-bottom: 25px;}
.article_topic a{font-size: 11px; }
.article_topic_item a{ font-size: 14px;}
.articles_topic_item_pic {float: left; margin-right: 10px !important;}
.articles_topic_item_pic img {padding: 2px; border: 1px solid #ccc;}
.pager {margin: 15px 0; clear: both;}
.pager a {text-decoration: none;}
.pager .pager_item, .pager .pager_item_selected{display: inline;  background: #333; color: #fff; padding: 3px 8px; margin: 0 4px; vertical-align: middle;}
.pager .pager_item_selected {background: none; border: 1px solid #333; color: #333;}
.pager {text-align: center;}

.x-trigger-cell{
    background:none;
    background-color:none;
}