html,body{
    background-color:#E6E6E6;
    font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    min-height: 100%;
    height: 100%
}

h1{
    font-size: 22px;
    font-weight: bold;
}

.page_wrap{
    width:100%;
    text-align: center;
    height:100%;

}

.page{
    max-width: 1280px;
    min-width: 300px;
    width:100%;
    text-align: left;
    display:inline-block;
    height:100%;
}

.layout-wrap{
    padding-top: 50px;
    min-width: 300px;
    width: 100%;
    position: relative;
    display: block;
    overflow: visible;
    background-color: #fff;
    min-height: calc(100vh - 210px);
}
.layout{
    background-color: #fff;
    padding-bottom: 10px;
    width: 100%;
}

.content-wrap{
    height:100%;
    padding: 0px 10px 10px 10px;
    margin-bottom: 10px;
    display:block;
}

.content-wrap.left{
    margin-left:320px;
}

.content-wrap.right{
    margin-right:320px;
}

.content-wrap.left.right{

}

.content-wrap .content{
    width:100%;
    height:100%;
}



.header_wrap{
    width:100%;
    z-index: 9999999;
    background: url(../../../i/page.black.bg.jpg) 0 0 repeat;
    box-shadow:0 0 4px 2px #000;
    overflow:hidden;
    position: fixed;
    left: 0;
    top: 0;
    padding:0;
    height:40px;
    text-align: center;
}

.header{width:100%;  text-align: left;  display: inline-block;  max-width: 1280px;  min-width: 300px;}

/* Top navigation */
.nav.top li{list-style: none; line-height: 20px; float: left; padding: 0 0 0 10px;}
.nav.top li a {color: #fff; text-decoration: none; line-height: 50px; font-weight: bold; white-space: nowrap;}
.nav.top li a.active{color:#3b93c0;}


/* Sidebar */
.sidebar{
    width:320px;
    min-width: 320px;
    padding:0 5px 5px 5px;
    box-sizing: border-box;
    position: absolute;
    top:50px;
    bottom:0px;
    background-color: #fff;
}

.sidebar.left{
    float: left;
    left:0px;
}

.sidebar.right{
    float: right;
    right:0px;
}

.sep{
    height:1px;
    border-bottom: 1px solid #ccc;
    margin:4px 0px 4px 0px;
}




/* Footer  */
.footer{
    clear: both;
    padding:20px;
    background: url(../../../i/page.black.bg.jpg) 0 0 repeat;
    color:#fff;
}

.footer .copyright{
    text-align: center;
    font-size: 12px;
    clear: both;
    padding: 10px;
}

.footer .menu{
    text-align: center;
    width: 100%;
}

.footer .menu .section{
    min-width: 200px;
    float: left;
    text-align: left;
}

.footer .menu ul{
    margin: 0;
    padding: 0;
    text-align: left;
}
.footer .menu li{
    list-style: none;
    float:left;
    width: 100%;
}
.footer .menu  a{
    list-style: none;
    width: 100%;
    color:#fff;
    text-decoration: none;
}

.footer .menu  a.active{
    list-style: none;
    width: 100%;
    text-decoration: none;
    color:#3b93c0;
}

.footer .menu li .header{
    font-weight: bold;
}


.clear{
    height:1px;
    margin:0;
    overflow:hidden;
    clear:both;
    padding:0;
}
/* Page navigation */
.pager{margin:15px 0;clear:both;}
.pager a{text-decoration:none;}
.pager .pager_item, .pager .pager_item_selected{display:inline;background:#333;color:#fff;padding:3px 8px;margin:0 4px;vertical-align:middle;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 2px #999;-moz-box-shadow:0 0 2px #999;box-shadow:0 0 2px #999;}
.pager .pager_item:hover{-webkit-box-shadow:0 0 4px #3484B4;-moz-box-shadow:0 0 4px #3484B4;box-shadow:0 0 4px #3484B4;color:#3484B4;opacity:0.8;}
.pager .pager_item_selected{background:none;border:1px solid #333;color:#333;}
.pager{text-align:center;}

#scrollUp{float:right;padding:0px 2px 2px 2px;background:#fff;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;margin-top:10px;margin-right:2px;display:none;cursor:pointer;color:#000;text-shadow:0 0 1px #000;font-size:19px;line-height:19px;width:20px;z-index:10000;border:1px solid #000;text-align:center;vertical-align:middle;}
#scrollUp:hover{background-color:#ffffff;background-image:linear-gradient(#fff , #B6F1FF);-webkit-box-shadow:0 0 2px #ccc;-moz-box-shadow:0 0 2px #ccc;box-shadow:0 0 2px #ccc;}
#mobileMenuBtn{
    float:right;
    padding:0px 2px 2px 2px;
    background:#fff;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    margin-top:3px;
    margin-right:2px;
    display:none;
    cursor:pointer;
    width:20px;
    height:19px;
    z-index:10000;
    border:1px solid #000;
    display:none;
    background-position: center;
    background-image: url('../../../i/menu.png');
    background-repeat: no-repeat;
}
#mobileMenuBtn:hover{
    background-image: url('../../../i/menu.png'),linear-gradient(#fff , #B6F1FF);
    -webkit-box-shadow:0 0 2px #ccc;
    -moz-box-shadow:0 0 2px #ccc;
    box-shadow:0 0 2px #ccc;
}
/* Blocks */

.blockItem{
    padding:5px;
}

.blockItem .blockContent{
    padding:5px;
}

.blockContent ul, .blockContent ol{
    padding-left:15px;
}

.blockItem .blockTitle{
    font-size: 16px;
    font-weight: bold;
    height:24px;
    padding: 0px 5px 0px 5px;
    border-bottom: 1px solid #ccc;
}


/* Media Queries */
@media screen and (max-width:1110px){
    /* 2 sides*/
    .content-wrap.left.right{
        margin: 5px;
        min-width: calc(100vw - 34px);
    }
    .sidebar.left.side-lr{
        padding: 5px;
        position: relative;
        float:left;
        top: 0;
        width:50%;

    }
    .sidebar.right.side-lr{
        padding: 5px;
        position: relative;
        float:left;
        top: 0;
        width:50%;
    }
}
@media screen and (max-width:959px){
    /* Left side*/
    .content-wrap.side-l{
        margin: 5px;
    }
    .sidebar.left.side-l{
        padding: 5px;
        position: relative;
        float:left;
        top: 0;
        width:100%;
    }
    /* Right side*/
    .content-wrap.side-r{
        margin: 5px;
    }
    .sidebar.side-r{
        padding: 5px;
        position: relative;
        float:left;
        top: 0;
        width:100%;
    }
}

@media screen and (max-width:640px){
    /* 2 sides*/
    .sidebar.left.side-lr{
        float:none;
        padding: 0px 5px 0 5px;
        width: 100%
    }
    .sidebar.right.side-lr{
        float:none;
        padding: 0px 5px 0 5px;
        width: 100%
    }
}

@media screen and (max-width:386px){
    #topBlocks{display:none;}
    .header_wrap {box-shadow:none;background:none;}
    .header{height: 30px; background-color: #0a001f}
    #mobileMenuBtn{display:block; }
    #scrollUp{margin-top:3px}
}
