@CHARSET "UTF-8";
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}

.objectIcon{
    background-image: url(../../../../i/system/designer/panel.png) !important;
}
.objectWindowIcon{
    background-image: url(../../../../i/system/designer/window.png) !important;
}
.panelIcon{
     background-image: url(../../../../i/system/designer/panel.png) !important;
}
.textFieldIcon{
    background-image: url(../../../../i/system/designer/field.png) !important;
}
.hiddenFieldIcon{
    background-image: url(../../../../i/system/designer/hiddenfield.png) !important;
}
.textareaIcon{
    background-image: url(../../../../i/system/designer/textarea.png) !important;
}
.checkboxIcon{
    background-image: url(../../../../i/system/designer/checkbox.png) !important;
}
.checkboxGroupIcon{
    background-image: url(../../../../i/system/designer/checkbox_group.png) !important;
}
.clockIcon{
    background-image: url(../../../../i/system/designer/clock.png) !important;
}
.dateIcon{
    background-image: url(../../../../i/system/designer/date.png) !important;
}
.displayfieldIcon{
    background-image: url(../../../../i/system/designer/display.png) !important;
}
.fieldsetIcon{
    background-image: url(../../../../i/system/designer/fieldset.png) !important;
}
.fieldContainerIcon{
    background-image: url(../../../../i/system/designer/fieldset_container.png) !important;
}
.fileIcon{
    background-image: url(../../../../i/system/designer/file.png) !important;
}
.fieldIcon{
    background-image: url(../../../../i/system/designer/field.png) !important;
}
.formIcon{
    background-image: url(../../../../i/system/designer/form.png) !important;
}
.htmlEditorIcon{
    background-image: url(../../../../i/system/designer/htmleditor.png) !important;
}
.pickerIcon{
    background-image: url(../../../../i/system/designer/picker.png) !important;
}
.radioIcon{
    background-image: url(../../../../i/system/designer/radio.png) !important;
}
.radioGroupIcon{
    background-image: url(../../../../i/system/designer/radio_group.png) !important;
}
.numberFieldIcon{
    background-image: url(../../../../i/system/designer/number.png) !important;
}
.buttonIcon{
    background-image: url(../../../../i/system/designer/button.png) !important;
}
.buttonSplitIcon{
    background-image: url(../../../../i/system/designer/button_split.png) !important;
}
.buttonGroupIcon{
    background-image: url(../../../../i/system/designer/bgroup.png) !important;
}
.toolbarSeparatorIcon{
    background-image: url(../../../../i/system/designer/tb_separator.png) !important;
}
.toolbarSpacerIcon{
    background-image: url(../../../../i/system/designer/tb_spacer.png) !important;
}
.toolbarTextIcon{
    background-image: url(../../../../i/system/designer/display.png) !important;
}
.toolbarIcon{
    background-image: url(../../../../i/system/designer/toolbar.png) !important;
}
.toolbarFillIcon{
   background-image:url(../../../../i/system/designer/tb_fill.png) !important;
}
.toolbarPanelIcon{
   background-image:url(../../../../i/system/designer/toolbar.png) !important;
}
.toolbarTextitemIcon{
    background-image:url(../../../../i/system/designer/tb_text.png) !important;
}
.toolbarFillIcon{
   background-image:url(../../../../i/system/designer/tb_fill.png) !important;
}
.toolbarPanelIcon{
   background-image:url(../../../../i/system/designer/toolbar.png) !important;
}
.toolbarTextitemIcon{
    background-image:url(../../../../i/system/designer/tb_text.png) !important;
}
.panelIcon{
    background-image: url(../../../../i/system/designer/panel.png) !important;
}
.gridIcon{
    background-image: url(../../../../i/system/designer/grid.png) !important;
}
.comboboxFieldIcon{
    background-image: url(../../../../i/system/designer/combobox.png) !important;
}
.resourceFieldIcon{
    background-image: url(../../../../i/system/designer/media-item.png) !important;
}
.objectLeafIcon{
    background-image: url(../../../../i/system/html_g.png) !important;
}
.objectDocked{
    background-image: url(../../../../i/system/designer/fieldset_container.png) !important;
}
.textMediaFieldIcon{
    background-image: url(../../../../i/system/designer/text-field.png) !important;
}
.olinkIcon{
  background-image: url(../../../../i/system/designer/link-field.png) !important;
}
.tabIcon{
  background-image: url(../../../../i/system/designer/tab.png) !important;
}
.treeIcon{
  background-image: url(../../../../i/system/designer/tree.png) !important;
}
.windowIcon{
  background-image: url(../../../../i/system/designer/window.png) !important;
}
.storeIcon{
  background-image: url(../../../../i/system/designer/store.png) !important;
}
.modelIcon{
  background-image: url(../../../../i/system/designer/model.png) !important;
}
.importOrmIcon{
  background-image: url(../../../../i/system/designer/import-orm.png) !important;
}
.importDbIcon{
  background-image: url(../../../../i/system/designer/import-db.png) !important;
}
.proxyIcon{
  background-image: url(../../../../i/system/designer/proxy.png) !important;
}
.autoRefreshIcon{
  background-image: url(../../../../i/system/designer/autoRefresh.png) !important;
}
.undoIcon{
  background-image: url(../../../../i/system/designer/undo.png) !important;
}
.redoIcon{
  background-image: url(../../../../i/system/designer/redo.png) !important;
}
.jsIcon{
  background-image: url(../../../../i/system/designer/javascript.png) !important;
}
.tabIcon{
  background-image: url(../../../../i/system/designer/tab.png) !important;
}
.treeIcon{
  background-image: url(../../../../i/system/designer/tree.png) !important;
}
.windowIcon{
  background-image: url(../../../../i/system/designer/window.png) !important;
}
.storeIcon{
  background-image: url(../../../../i/system/designer/store.png) !important;
}
.modelIcon{
  background-image: url(../../../../i/system/designer/model.png) !important;
}
.imageIcon{
    background-image: url(../../../../i/system/designer/image.png) !important;
}
.addIcon{
  background-image: url(../../../../i/system/designer/plus.png) !important;
}
.viewInterfaceIcon{
  background-image: url(../../../../i/system/designer/view.png) !important;
}
.viewCodeIcon{
  background-image: url(../../../../i/system/designer/source.png) !important;
}
.debugIcon{
  background-image: url(../../../../i/system/designer/debug.png) !important;
}
.trashIcon{
  background-image: url(../../../../i/system/designer/trash.png) !important;
}
.radioGroupIcon{
  background-image: url(../../../../i/system/designer/radio_group.png) !important;
}
.filtersIcon{
  background-image: url(../../../../i/system/designer/filters.png) !important;
}
.filterIcon{
    background-image: url(../../../../i/system/designer/filters.png) !important;
}
.menuIcon{
   background-image:url(../../../../i/system/designer/menu.png) !important;
}
.menuItemsIcon{
	background-image:url(../../../../i/system/designer/menu_items.png) !important;
}
.menuSeparatorIcon{
   background-image:url(../../../../i/system/designer/menu_separator.png) !important;
}
.colorPickerIcon{
   background-image:url(../../../../i/system/designer/picker.png) !important;
}
.viewViewIcon{
    background-image:url(../../../../i/system/designer/view_view.png) !important;
}
.containerIcon{
   background-image:url(../../../../i/system/designer/container.png) !important;
}
.pagingIcon{
    background-image:url(../../../../i/system/designer/pagination.png) !important;
}
.tagIcon{
    background-image: url(../../../../i/system/designer/tag.png) !important;
}

.urlTrigger{
    width:25px !important;
    height:21px !important;
    border:none !important;
    background-image: url(../../../../i/system/designer/urltrigger.png)!important;
    background-position: center !important;
    background-repeat: no-repeat!important;
}
.urlTrigger:hover{
    width:25px !important;
    height:21px !important;
    border:none !important;
    background-image: url(../../../../i/system/designer/urltrigger-hover.png)!important;
    background-position: center !important;
    background-repeat: no-repeat!important;
}
.viewFrame{
    width:100%!important;
    height:100%!important;
    border:0!important;
}

.images-view .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
.images-view .thumb{
    background: #FFFFFF;
    border:1px solid #cccccc;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #images-view .thumb {
    padding-bottom: 3px;
}

.images-view .thumb img{
    height: 16px;
    width: 16px;
}

.images-view .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
.images-view .thumb-wrap span {

    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; // for ie to ensure that the text is centered
}

.images-view .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url('../../../../i/system/designer/over.gif') repeat-x left top;
    padding: 4px;
}

.images-view .x-item-selected{
    background: #eff5fb url('../../../../i/system/designer/selected.gif') no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
.images-view .x-item-selected .thumb{
    background:transparent;
}

.images-view .loading-indicator {
    font-size:11px;
    background-image:url('../../../../i/system/designer/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}
.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}

.extCmpLabel{
	color:green;
}

.extInstanceLabel{
	color:red;
}

.extClassLabel{
	color:blue;
}

.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}
