@CHARSET "UTF-8";
.formBody{background-color:#EDEDED;}
.adminHeader #header{height: 30px; background: url(../../../i/bg.gray.png) 0 0 repeat;}
.dv-add-trigger{background-image: url('images/add-trigger.gif');!important;}