@CHARSET "UTF-8";

.emptyIcon{
	background-image:none!important;
	width:1px;
}

.docs-header{
	font-size:26px;
	font-family: tahoma,arial,verdana,sans-serif;
	color:#66AB16;
	font-weight:400;
	line-height:20px;
}

.docs-propertyDescription{
	font-size:13px;
	font-family: Helvetica Neue,Arial,sans-serif;
	padding:10px 5px 10px 5px;
	border-bottom:1px solid #cccccc;
}

.docs-propertyDescription .name{
	color:#0464BB;
}

.docs-classType{
	font-weight:bold;
	color:#0000FF;
	font-weight:bold;
	font-size:18px;
}
.docs-propertyDescription .visibility{
	font-weight:bold;
	color:#0000FF;
	font-weight:bold;
}

.docs-const{
	color:#66AB16;
}

.docs-methodDescription{
	font-size:13px;
	font-family: Helvetica Neue,Arial,sans-serif;
	padding:10px 5px 10px 5px;
	border-bottom:1px solid #cccccc;
}

.docs-methodDescription.selected{
	background-color: #DEDFC5!important;
}

.docs-methodDescription .name{
	color:#000000;
}

.docs-methodDescription .visibility{
	font-weight:bold;
	color:#0000FF;
	font-weight:bold;
}

.docs-params{
	color:#7A3800;
}

.description{
	color:#585858;
}

.docs-paramDescription .name{
	color:#7A3800;
}

.docs-paramDescription .value{
	color:#000000;
}
.docs-optional{
	color: green;
    font-size: 10px;
	cursor:help;
}

.docs-over{
	background-color: #EAE9E0!important;
}