@CHARSET "UTF-8";
.formBody{background-color:#fff;}
.adminHeader #header{height: 30px; background: url(../../../i/bg.gray.png) 0 0 repeat;}
.menuPanel{background: url(../../../i/bg.gray.png) 0 0 repeat;}