@CHARSET "UTF-8";

/*
* ExtJS Gray theme bugfix
*/
.x-form-text {  display: inherit;  }
/*-----*/

.app-combo-item{ font:normal 11px tahoma, arial, helvetica, sans-serif; padding:3px 10px 3px 10px; border:1px solid #fff; border-bottom:1px solid #eeeeee; white-space:normal; color:#555; }
.app-disabled{background-color:#EFEEEC;color:#858483;}

.x-form-field-wrap .x-form-clear-trigger{background-image: url(../../i/system/clear-trigger.gif);}
.x-form-field-wrap .x-form-search-trigger{ background-image: url(../../i/system/search-trigger.gif);}

.renderLast{
  height:100%;
  width:100%;
  /*
  display:block;
  */
  background-color:#C0FFC0 !important;
}
.renderNotLast{
  height:100%;
  width:100%;
  /*
  display:block;
  */
  background-color:#FFD1DD !important;
}
.buttonIcon{cursor:pointer;}
.cellRed{background-color:#FFAFAF;height:100%;width:100%;}
.upload-icon {background: url(../../i/system/image_add.png)  !important;}
.upload_window .x-form-file-wrap .x-form-file-btn {position: relative;}
.pagePublic{background-image: url(../../i/system/html.png) !important;}
.pageHidden{background-image: url(../../i/system/html_g.png) !important;}
.ormUl li{padding-left:10px;}
.nonContainerBlock{background-color:#cccccc;}
.publishedRender{
  background-color:#C0FFC0 !important;
  height:100%; 
}
.notPublishedRender{
  background-color:#FFD1DD !important;
  height:100%; 
}

.dv_mainMenu{ padding:0 0 0 0; margin: 0 0 0 0; list-style: none;}
.dv_mainMenuItem {padding: 1px; list-style: none; margin:0px;}
/*.dv_mainMenu li{ padding: 1px; list-style: none; margin:0px;}*/
.dv_mainMenu li a,a:visited{color:#000000;text-decoration:none;}
.dv_mainMenu li a:hover div{background-color:#cccccc;}
.dv_mainMenu li a div{
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
    border-radius: 4px;
    height: 24px;
    line-height: 24px;
    padding: 0 4px;
    width: 100%;  
}

.mSelected{background-color:#FCFCFC;}

.sysVersion{
  height:30px;
  overflow: hidden;
  line-height: 31px;
  padding:2px 5px 0 5px;
  font-weight: bold;
    color:#68A956;
}
.sysVersion .num {font-size: 10px;}
.sysVersion img{float: left;}
.loginInfo {color: #555; float: right; font-size: 11px;}
.loginInfo .logout {margin-left: 5px; margin-right: 5px; float: right; padding-top: 7px;}
.loginInfo .name {color: #33b}

.sysMenuLogo{
  /*background: url(../../i/system/logos.png) 5px -280px no-repeat;
  height:26px;
  */
}
.adminWestMenu #main,
.adminWestMenu #system {background: url(../../i/bg.gray.png) 0 0 repeat;}
.adminWestMenu #main .x-panel-body-default-framed,
.adminWestMenu #system .x-panel-body-default-framed {background: none;}


.upload-icon {
    background: url('../../js/lib/ext_ux/images/image_add.png') no-repeat 0 0 !important;
}

.importSelected{
  background-color:#A2FFB5;
  width:100%;
}

.fileList{margin:0 0 5px 0;}
.fileListItem{margin:2px 0 0 5px;font-size:14px;}

 .activeline {background: #e8f2ff !important;}
 .CodeMirror-gutter {min-width: 2.6em; cursor: pointer;}
 span.CodeMirror-matchhighlight { background: #e9e9e9 }
 .CodeMirror-focused span.CodeMirror-matchhighlight { background: #e7e4ff; !important }
 dt {font-family: monospace; color: #666;}
 .CodeMirror-fullscreen {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            margin: 0;
            padding: 0;
            border: 0px solid #BBBBBB;
            opacity: 1;
  }

/* Override some ExtJs default styles
-------------------------------------------------*/
/*.x-grid-with-col-lines .x-grid-cell {padding-top: 7px;}*/

 .sep{
    clear: both;
 }

 .objectItem{
    font-size:12px;
    margin:2px;
    padding:5px;
    padding-left:15px;
    padding-right:0px;
 
    -webkit-border-radius:4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
   
    border: 1px solid #efefef;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;

 }
 
 .objectItem table{
    font-size:11px;
    border-bottom:1px solid #cccccc;
 }

 .objectItem table tr td{
   padding: 2px;
   border:none;
   border-left:1px solid #cccccc;
   border-top:1px solid #cccccc;
 }

.collapsed{
    display:none;
}
.objectBody{
    padding:2px;
}
.objectBody span.title{
    font-size:16px;
    border:1px solid #000000;
    background-color:#EDE2DE;
    padding:2px;
}
.collapseButton{
    cursor:pointer;
}
.collapseButton div.catName{
    font-weight:bold;
    padding:3px;
}

.buildIcon{
     background-image: url('../../i/system/build.png');
}
.refreshIcon{
     background-image: url('../../i/system/designer/refresh.png');
}
.makeIcon{
     background-image: url('../../i/system/make.png');
}
.deleteIcon{
     background-image: url('../../i/system/delete.png');
}
.plusIcon{
     background-image: url('../../i/system/designer/plus.png');
}
.editIcon{
     background-image: url('../../i/system/edit.png');
}
.downIcon{
     background-image: url('../../i/system/down.png');
}
.upIcon{
     background-image: url('../../i/system/up.png');
}
.saveIcon{
     background-image: url('../../i/system/designer/save.png');
}
.newdocIcon{
     background-image: url('../../i/system/document-new.png');
}
.treeIcon{
     background-image: url('../../i/system/tree.png');
}
.urltriggerIcon{
    background-image: url('../../i/system/designer/urltrigger.png');
}
.newpageIcon{
    background-image: url('../../i/system/newpage.png');
}
.subpageIcon{
    background-image: url('../../i/system/subpage.png');
}
.blockmapIcon{
    background-image: url('../../i/system/blockmap.png');
}
.openIcon{
    background-image: url('../../i/system/designer/open.png');
}
.newIcon{
    background-image: url('../../i/system/designer/new.png');
}
.exitIcon{
    background-image: url('../../i/system/designer/exit.png');
}
.configureIcon{
    background-image: url('../../i/system/designer/configure.png');
}
.importDbIcon{
    background-image: url('../../i/system/designer/import-db.png');
}
.unknownIcon{
     background-image: url('../../i/unknown.png');
}
.addImageIcon{
     background-image: url('../../i/system/image_add.png');
}
.fileIcon{
    background-image: url('../../i/system/file.png');
}
.editIcon2{
    background-image: url('../../i/system/icon_edit.gif');
}
.gridIcon{
    background-image: url('../../i/system/grid.png');
}
.findIcon{
    background-image: url('../../i/system/find.png');
}
.searchIcon{
    background-image: url('../../i/system/search.png');
}
.csvIcon{
    background-image: url('../../i/system/designer/csv.png');
}
.leftIcon{
    background-image: url('../../i/system/left.png');
}
.uploadIcon{
        background-image: url('../../i/system/upload.png');
}

.urlTriggerIcon{
    width:25px;
    height:22px;
    background: url('../../i/system/url_trigger.png') 0px 0px !important;
    background-repeat: no-repeat!important;
}
.urlTriggerIcon.x-form-trigger-over{
    background: url('../../i/system/url_trigger.png') -26px 0px !important;
}

.d_objectLink_input{
    border:1px solid #ccc;
    margin:0 2px 0 2px;
    padding:0px 2px 0px 2px;
    background-color:#F1F1F1;
    height:22px;
}

.d_objectLink_input .x-form-display-field{
    padding:2px;
    margin:1px;
    cursor:pointer;
}

.module-wrap{
    border:1px solid #cccccc;
    margin:5px;
    padding:5px;
    width:190px;
    height:110px;
    float:left;
    cursor:pointer !important;
}
.module-wrap.home{
     width:120px;
     height:110px;
 }

.module-wrap.home.dev{
    width:120px;
    height:110px;
    background-color: #F2F2F2;
}

.module-wrap:hover{
    background-color: #F5F5F5;
}

.module-wrap div.title{
    font-weight: bold;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }

.module-wrap span.controller{
    font-size: 11px;
    font-style: italic;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    width: 100%;
}

.module-wrap div.icon{
    float: left;
    padding:3px;
}

.module-wrap div.tools{
    float:right;
}

.module-wrap .tools .modulesBtn{
    cursor:pointer;
    float:left;
    margin:2px;
}

.clear{
    clear:both;
}

div.module-target{
    border-right:1px solid #cccccc !important;
    padding:10px;
}

.images-view .thumb img{
    height: 16px;
    width: 16px;
}

.images-view .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
.images-view .thumb-wrap span {

    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; // for ie to ensure that the text is centered
}

.images-view .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url('../../i/system/designer/over.gif') repeat-x left top;
    padding: 4px;
}

.images-view .x-item-selected{
    background: #eff5fb url('../../i/system/designer/selected.gif') no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
.images-view .x-item-selected .thumb{
    background:transparent;
}

.images-view .loading-indicator {
    font-size:11px;
    background-image:url('../../i/system/designer/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}

.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}