AddDefaultCharset UTF-8
RewriteEngine on
#RewriteBase /subdir/
Options -Indexes
Options +FollowSymLinks
DirectoryIndex index.php


RewriteRule !(^js/.*|^i/.*|^resources/.*|^media/.*|^css/.*|^favicon\.ico)$ index.php [NC,L]

