@CHARSET "UTF-8";

/* Reset styles
-----------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; }
*, * focus {
        outline: none;
        margin: 0;
        padding: 0;
}
textarea { overflow: auto; }
textarea, input[type=text], input[type=password] { font-family: Arial, Helvetica, sans-serif; font-size: 11px; }
button, input[type=submit] { font-family: Arial, Helvetica, sans-serif; }

img { border: 0; }
ul { list-style: none; margin: 0; padding: 0; }
p { margin: 0; padding: 0; }
:focus { outline: 0; }
a { text-decoration: none; color: #2b6893; }
.normal { font-style: normal; }
.normalFont { font-style: normal; font-weight: normal; }

.nomargin { margin: 0!important; }

input::-moz-focus-inner
{
    border: 0;
    padding: 0;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0
}
a.button::-moz-focus-inner
{
    border: 0;
    padding: 0;
}


/* Page & layout styles
-----------------------------*/
html { height: 100%; background: transparent url(../../i/system/bg.gray.png) 0 0 repeat; }
.html { height: 100%;  }
body { min-height: 100%; font-size: 12px; color: #595959; font-family: Arial, Helvetica, sans-serif; line-height: 20px; position: relative; }
.wrapper { position: relative; margin: 0 3%; }
.contentWrapper { position: relative; margin: 0 3%; float: right; width: 94%; }
h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

.installerWrapper { margin: -220px 0 0 -350px; position: absolute; top: 50%; left: 50%; z-index: 100;}
.installerWrapper .widget {display: block;}
.installerPage .userNav { margin-right: 0!important; }
.installerPage .topNav { text-align: center; position: static; }
.installerPage .userNav, .loginPage .userNav ul { float: none; border: none; }
.installerPage .userNav ul li { display: inline-block; float: none; margin-left: -4px; }
.installerPage input[type=text], .loginPage input[type=password] { width: 100%!important }
.installerPage #footer .wrapper { padding-left: 0; }
.installerPage .formRow { padding: 5px 3px; }
.Logo {
        display: block;
    height: 109px;
    left: 50%;
    margin-left: -144px;
    position: absolute;
    top: -80px;
    width: 286px;
}
.widget { margin-top: 32px; clear: both;}
.widget #tabs { background: #f9f9f9; border: 1px solid #cdcdcd;  box-shadow: 0 0 3px #A6D9F4; -moz-box-shadow:0 0 3px #A6D9F4; -webkit-box-shadow:0 0 3px #A6D9F4;}
.widget .block { border: 1px solid #cdcdcd;  box-shadow: 0 0 3px #A6D9F4; -moz-box-shadow:0 0 3px #A6D9F4; -webkit-box-shadow:0 0 3px #A6D9F4;}
.widget .title .titleIcon { float: left; padding: 11px 11px; border-right: 1px solid #D5D5D5; }
.widget .loader { float: right; margin: 12px 12px 0 0; }
.widget .title h6 { float: left; font-size: 12px; font-weight: bold; padding: 9px 12px 8px 12px; }
.widget .content { padding: 14px; }
.widget .body { padding: 12px 14px; }
.widget > p { padding: 12px; }
#footer { clear: both; position: absolute; bottom: 0; left: 0; width: 100%;  }
#footer .wrapper { text-align: center; padding: 20px 0 20px 222px; margin: 0; color: #333; font-size: 10px;}
.clear { clear: both; }
/* Buttons style
-----------------------------*/
.dv_button {
        background-color:#3c9220;
        font-size:11px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration:none;
        color:#fff;
        position:relative;
        padding:6px 20px;
        border-left:solid 1px #7f8e69;
        background-image: linear-gradient(bottom, #3c9220 0%, #67bd44 100%);
        background-image: -o-linear-gradient(bottom, #3c9220 0%, #67bd44 100%);
        background-image: -moz-linear-gradient(bottom, #3c9220 0%, #67bd44 100%);
        background-image: -webkit-linear-gradient(bottom, #3c9220 0%, #67bd44 100%);
        background-image: -ms-linear-gradient(bottom, #3c9220 0%, #67bd44 100%);
        background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #3c9220),
        color-stop(1, #67bd44)
        );
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-box-shadow: inset 0 1px 0 #295D17, 0 4px 0 0 #235613, 0 3px 2px #000000;
        -moz-box-shadow: inset 0 1px 0 #295D17, 0 4px 0 0 #235613, 0 3px 2px #000000;
        -o-box-shadow: inset 0 1px 0 #295D17, 0 4px 0 0 #235613, 0 3px 2px #000000;
        box-shadow: inset 0 1px 0 #295D17, 0 4px 0 0 #235613, 0 3px 2px #000000;
}
.dv_button:active {
        top:3px;
        background-image: linear-gradient(bottom, #6dc449 0%, #67bd44 100%);
        background-image: -o-linear-gradient(bottom, #6dc449 0%, #67bd44 100%);
        background-image: -moz-linear-gradient(bottom, #6dc449 0%, #67bd44 100%);
        background-image: -webkit-linear-gradient(bottom, #6dc449 0%, #67bd44 100%);
        background-image: -ms-linear-gradient(bottom, #6dc449 0%, #67bd44 100%);
        background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #6dc449),
        color-stop(1, #67bd44)
        );
        -webkit-box-shadow: inset 0px 1px 0px #295d17, 0px 0px 0px 0px #235613, 0px 0px 1px #000;
        -moz-box-shadow: inset 0px 1px 0px #295d17, 0px 0px 0px 0px #235613, 0px 0px 1px #000;
        -o-box-shadow: inset 0px 1px 0px #295d17, 0px 0px 0px 0px #235613, 0px 0px 1px #000;
        box-shadow: inset 0px 1px 0px #295d17, 0px 0px 0px 0px #235613, 0px 0px 1px #000;
}
.dv_button.disabled,
.dv_button.disabled:active{
        top:3px;
        background-image: linear-gradient(bottom, #acb7aa 0%, #acb7aa 100%);
        background-image: -o-linear-gradient(bottom, #acb7aa 0%, #acb7aa 100%);
        background-image: -moz-linear-gradient(bottom, #acb7aa 0%, #acb7aa 100%);
        background-image: -webkit-linear-gradient(bottom, #acb7aa 0%, #acb7aa 100%);
        background-image: -ms-linear-gradient(bottom, #acb7aa 0%, #acb7aa 100%);
        background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #acb7aa),
        color-stop(1, #acb7aa)
        );
        -webkit-box-shadow: inset 0px 1px 0px #295d17, 0px 0px 0px 0px #235613, 0px 0px 1px #000;
        -moz-box-shadow: inset 0px 1px 0px #295d17, 0px 0px 0px 0px #235613, 0px 0px 1px #000;
        -o-box-shadow: inset 0px 1px 0px #295d17, 0px 0px 0px 0px #235613, 0px 0px 1px #000;
        box-shadow: inset 0px 1px 0px #295d17, 0px 0px 0px 0px #235613, 0px 0px 1px #000;
}
button {float: right; margin: 15px 0 15px 15px;}
/* Form styles
-----------------------------*/
.button, button, input[type=submit], input[type=reset], input[type=button] {border: none; font-weight: bold; text-transform: uppercase; white-space: nowrap; cursor: pointer; font-family: Arial, Helvetica, sans-serif; line-height: 12px; display: inline-block; max-height: 29px; }
input[type=submit], input[type=reset], input[type=button], button { padding: 7px 18px 8px 18px; }
.formSubmit { display: block; float: right; margin: 14px 18px; }
.button span { padding: 7px 18px 8px 18px; display: inline-block; height: 12px; }
.button .icon { float: left; margin: 7px -8px 5px 12px; }
.fixed { box-shadow: inset 0 0 1px #748a9b; -moz-box-shadow: inset 0 0 1px #748a9b; -webkit-box-shadow: inset 0 0 1px #748a9b; }

.middleNav, .widget, .sItem, .statsDetailed, .statsContent, .nav li a strong, .controlB ul li, .toggle, .smalldd ul li a strong
{ -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }

.wButton, .nNote, .widget .num a, .tag, a.sButton, .tooltip, .tPagination ul li a, .bc, .pages li a, .smallButton, .search-choice, .horControlB ul li, .gallery ul li, .iconsGroup, .wContentButton
{ -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; }

.formRow { padding: 22px 14px; clear: both; border-bottom: 1px solid #E2E2E2; border-top: 1px solid white; position: relative; }
.formRow:first-child { border-top: none; }
.formRow:last-child { border-bottom: none; }
.formRow .formRight { display: block; float: right; width: 80%; margin-right: 18px; }

.form input[type=text], .form input[type=password], .form textarea { font-size: 11px; padding: 7px 6px; background: white; border: 1px solid #DDD; width: 100%; font-family: Arial, Helvetica, sans-serif; box-shadow: 0 0 0 2px #f4f4f4; -webkit-box-shadow: 0 0 0 2px #f4f4f4; -moz-box-shadow: 0 0 0 2px #f4f4f4; color: #656565; }
.form input[type=text]:hover, .form input[type=password]:hover, .form textarea:hover { border-color: #d5d9dc; background: #fdfdfd; }
.form input[type=text]:focus, .form input[type=password]:focus, .form textarea:focus { border-color: #d5d9dc; background: #fff; -webkit-box-shadow: 0 0 0 2px #f4f4f4; box-shadow: 0 0 0 2px #f4f4f4; -moz-box-shadow: 0 0 0 2px #f4f4f4; }
input[readonly], input[disabled] { background: #FCFCFC; border: 1px solid #DADADA; color: #D1D1D1; }
.installerInput { width: 190px; float: left; margin-right: 14px!important; }
.form input[type="text"], .form input[type="password"], .form textarea {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 0 2px #F4F4F4;
    color: #656565;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding: 7px 6px;
    width: 100%;
}
.formRow label {float: left; width: 24%; padding: 5px 6px; font-size: 14px; color: #666; }
.formRow.long label {float: left; width: 50%; padding: 5px 6px; font-size: 14px; color: #666; }
#userpass label {width: 40%}
.form #port {width: 50px !important;}

.checker input, .radio input, .selector select {
    cursor: pointer;
}
input.error {
    border-color: #DDBEBE !important;
}
.selector, .radio, .checker, .uploader, .selector *, .radio *, .checker *, .uploader * {
    cursor: pointer;
    margin: 0;
    padding: 0;
}
div.selector {
    -moz-box-sizing: content-box;
    background: -moz-linear-gradient(center top , #FCFCFC 0%, #F1F1F1 100%) repeat scroll 0 0 transparent;
    border: 1px solid #D2D2D2;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    margin: 0;
    max-width: 280px;
    overflow: hidden;
    padding: 0 0 0 8px;
    position: relative;
    vertical-align: middle;
    width: auto;
}
div.selector span {
    background: url("../../i/selectArrow.png") no-repeat scroll 100% center transparent;
    color: #808080;
    cursor: pointer;
    display: block;
    font-size: 11px;
    height: 27px;
    line-height: 27px;
    overflow: hidden;
    padding: 0 37px 0 2px;
    text-overflow: ellipsis;
    text-shadow: 0 1px #F5F5F5;
    white-space: nowrap;
}
div.selector select {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 28px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.disabled {
    opacity: 0.6;
}
.secNav .checker {
    box-shadow: 0 1px 0 #F5F5F5;
}
div.checker {
    box-shadow: 0 1px 0 #FFFFFF;
    display: block;
    float: left;
    height: 16px;
    margin-right: 10px;
    margin-top: 2px;
    position: relative;
    vertical-align: middle;
    width: 16px;
}
div.checker input {
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    opacity: 0;
    width: 16px;
}
div.checker span {
    background: url("../../i/checkboxes.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    text-align: center;
    width: 16px;
}
div.checker span.checked {
    background-position: 0 -17px;
}
div.radio {
    display: block;
    float: left;
    height: 17px;
    margin-right: 10px;
    margin-top: 2px;
    position: relative;
    vertical-align: middle;
    width: 16px;
}
div.radio input {
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    height: 17px;
    opacity: 0;
    width: 16px;
}
div.radio span {
    background: url("../../i/radios.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 17px;
    text-align: center;
    width: 16px;
}
div.radio span.checked {
    background-position: 0 -18px;
}
/* Installer styles
-----------------------------*/
#dbCheckMsg, #dbCreateMsg, #userPassMsg {
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin: 14px;
        line-height: 26px;
        padding: 0 14px;
        color: #fff;
}
#dbCheckMsg.fail, #userPassMsg.fail, #dbCreateMsg.fail {background: #ff5b5b;}
#dbCheckMsg.success, #dbCreateMsg.success, #userPassMsg.success {background: #5FB53D;}
#dbCreateMsg div{background: #5FB53D;}
#dbCreateMsg, #userPassMsg { margin-top: 20px;}

#tabs {
        position: relative;
        width: 700px;
        height: 440px;
}
#tabs-1 dd {
        border: 2px;
        width: 400px;
}

.success {
        color: green;
}
.fail {
        color: red;
}
.list .block {
        margin-bottom: 10px;
        padding: 4px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
}
.list .title {
        float: left;
    width: 600px;
}
#checkInfo {
        border: 0px;
}
.invalid_field {
        border-color: red;
}
#link a {color:#3484B4; border-bottom: 1px solid #3484B4;}
.ui-widget-header {background: url('../../i/page.black.bg.jpg') 0 0 repeat;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background: #f9f9f9;}

#license{
    border: 1px solid #cccccc;
    padding: 2px;
    margin: 2px;
    height: 355px;
    overflow: auto;
}
