@CHARSET "UTF-8";

.formBody{background-color:#3f4757;}
.adminHeader #header{height: 30px;}

.module-wrap{color:#ffffff;}

.module-wrap:hover{
    background-color: #415468;
}

.module-wrap.home.dev{
    background-color: #5d7996;
}
.module-wrap.home.dev:hover{
    background-color: #415468;
}

.loginInfo{
   color:#ffffff;
}

.loginInfo .name{
    color:#ed9200;
}

.disabledPermissions{
    background-color:#616f8c;
}