<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./bootstrap.php"
    colors="true"
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false"
    backupGlobals="false"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    syntaxCheck="true">

    <testsuite name="Main Test Suite">
        <directory>./</directory>
    </testsuite>

    <filter>
        <blacklist>
            <directory suffix=".php">/usr/share/php</directory>
            <directory suffix=".php">../../test</directory>
            <directory suffix=".php">../../www/system/library/Zend</directory>
            <directory suffix=".php">../../www/system/library/Code/Js</directory>
            <directory suffix=".php">../../www/system/packages</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">../../www/system/app</directory>
            <directory suffix=".php">../../www/system/library</directory>
            <exclude>
                <directory suffix=".phtml">./</directory>
                <file>./bootstrap.php</file>
				<directory suffix=".php">../../www/system/library/Zend</directory>
            	<directory suffix=".php">../../www/system/library/Code/Js</directory>
            	<directory suffix=".php">../../www/system/packages</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./report" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>